_site/*
_theme_packages/*

Thumbs.db
.DS_Store

!.gitkeep

.rbenv-version
.rvmrc
/bower_components/
/dist/
/essential-scala/
/essential-scala.zip
/node_modules/

essential-scala.sublime-workspace
core-scala.sublime-workspace
essential-scala

target/
project/target

book_deploy_rsa

