// For HTML:
nav {

  float:left;

  width:25%;

  .container {

    width:100%;

  }

  toc {

    h1 {
      margin-top: @line-height-computed;
    }

    ul {
      .list-unstyled();



      a { display: block; }

      > li {
        > a {
          padding-top: 1*@line-height-computed;
          font-size: @font-size-base * 1.5;
        }
        > ul > li {
          > a {
            padding-top: 1*@line-height-computed;
            padding-bottom: .5*@line-height-computed;
            font-size: @font-size-base * 1.2;
          }
          > ul > li {
            > a {
              padding-top: .25*@line-height-computed;
              padding-bottom: 0;
              font-size: @font-size-base * 1.0;
            }
          }
        }
      }
    }
  }
}

article {

  .container {
    margin-left:25%;
  }

}




// For EPUB:
ol.toc {
  .list-unstyled();

  a { display: block; }

  > li {
    > a {
      padding-top: 1*@line-height-computed;
      font-size: @font-size-base * 1.5;
    }
    > ol > li {
      > a {
        padding-top: 1*@line-height-computed;
        padding-bottom: .5*@line-height-computed;
        font-size: @font-size-base * 1.2;
      }
      > ol > li {
        > a {
          padding-top: .25*@line-height-computed;
          padding-bottom: 0;
          font-size: @font-size-base * 1.0;
        }
      }
    }
  }
}
